name: Build

on:
  push:
    branches:
      - '*'
    paths-ignore:
      - 'README'
      - 'README.md'
      - 'LICENSE'
      - 'LICENSE.md'
  pull_request:
    branches:
      - '**'
    paths-ignore:
      - 'README'
      - 'README.md'
      - 'LICENSE'
      - 'LICENSE.md'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    name: Build and test with gradle
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Set up JDK ${{ matrix.java }}
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '21'
          cache: gradle

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Build with Gradle
        run: ./gradlew build --no-daemon

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: Artifacts
          path: |
            build/libs/*.jar
            versions/*/build/libs/*.jar
          if-no-files-found: error
